


    <div id="showcase" class="promo-area">
        <div class="front-slider flexslider">
            <ul class="slides">
                <li>
                    <%= image_tag 'welcome01.jpg' %>
                </li>
                <li>
                    <%= image_tag 'wele02.jpg' %>
                </li>
                <li>
                    <%= image_tag 'welcome03.jpg' %>
                </li>
                <li>
                    <%= image_tag 'welcome04.jpg' %>
                </li>
            </ul>
        </div><!-- .flexslider -->
        <div class="promo-content">
            <div class="promo-text">
                <h2 class="promo-title">Solutions that Work.</h2>
                <p class="promo-lede">That is absolutely bonkers! Who came up with this absurd idea? What about all the dust?</p>
            </div><!-- .promo-text -->
        </div><!-- .promo-content -->
    </div><!-- #showcase .promo-area -->

    <main class="main-area">

        <div class="top-pitch centered">
            <h2 class="main-title">Welcome to CityRight Consultants.</h2>
            <p class="teaser two-column">
                CityRight is a Built Environment Consulting Agency located in Nairobi and Kisumu offering Government Agencies, Non-Governmental Organizations, Businesses, Individuals and Communities different services with regard to the  <strong> Built environment.</strong>.
            </p>
        </div><!-- .pitch centered -->
        <div class="cta">
            <a href="#"> Start a Project!</a>
        </div><!-- .cta -->
        <section>
            <div class="centered">
                <h2 class="main-title">Our Values</h2>
                <p class="teaser two-column">
                   Our Business as <strong> CityRight </strong> is guided by the following values, which translates into our products, services, and our brand. As CityRight grows and evolves, these three values will always remain the same.
                </p>
            </div><!-- .centered -->
        </section><!-- .pitch centered -->
        <section class="main-pitch">
            <div class="three-reasons centered">
                <figure class="reason">
                    <a href="">
                        <%= image_tag 'wele02.jpg' %>
                    </a>
                    <figcaption>
                        <h3 class="content-title"> Transparency </h3>
                        <p>Every room at Moonwalk Manor, whether you are staying in a discount suite or going Apartment Class&reg;, has a panoramic view.</p>
                        <a class="content-button" href="#">Learn More<span class="screen-reader-text"> about the views.</span></a>
                    </figcaption>
                </figure><!-- .reason -->
                <figure class="reason">
                    <a href="">
                        <%= image_tag 'welcome03.jpg' %>
                    </a>
                    <figcaption>
                        <h3 class="content-title"> Accountability </h3>
                        <p>Yes, you're on the moon, but that doesn't mean gravity won't do its work on your body. After a long day of excitement, bunk down in our luxurious beds to recharge for the next day.</p>
                        <a class="content-button" href="#">Learn More<span class="screen-reader-text"> about our amazing beds.</span></a>
                    </figcaption>
                </figure><!-- .reason -->
                <figure class="reason">
                    <a href="">
                        <%= image_tag 'welcome04.jpg' %>
                    </a>
                    <figcaption>
                        <h3 class="content-title"> Pragmatism </h3>
                        <p>Your comfort and safety is our priority. At Moonwalk Manor we pride ourselves on first class treatment from the moment you arrive to the moment you set your foot back on earth. Even during a meteor event.</p>
                        <a class="content-button" href="#">Learn More<span class="screen-reader-text"> about meteor shelters and our liability waiver.</span></a>
                    </figcaption>
                </figure><!-- .reason -->
            </div><!-- .three-reasons centered -->
        </section><!-- .main-pitch -->

        <section class="pitch">
            <div class="centered">
                <h2 class="main-title">Services</h2>
                <p class="teaser two-column">
                    We are open to taking any project within the Built Environment, let us help transform your idea into life, alongside our partners and extended team we turn dreams into realities by providing <strong> Solutions that actually Work </strong>.
                </p>
            </div><!-- .centered -->
        </section><!-- .pitch centered -->

        <section class="features centered">
                        <figure class="feature">
                <a href="#">
                    <%= image_tag 'location.png' %>
                </a>
                <figcaption>
                    <h3 class="content-title">Location Analysis and GIS.</h3>
                    <p>Our Gravity Gym offers exercises you've never even dreamed of. From our Centrifugal Super-G Track to our Zero-G Yoga Studio, Moonwalk Manor has a new experience to offer everyone.</p>
                    <a class="content-button" href="#">Learn More<span class="screen-reader-text"> about freefall vertigo.</span></a>
                </figcaption>
            </figure><!-- .feature -->
            <figure class="feature">
                <a href="#">
                    <%= image_tag 'smartcities.jpg' %>
                </a>
                <figcaption>
                    <h3 class="content-title">Smart Cities.</h3>
                    <p>Regolith is what makes the moon grey. It is also what will rejuvinate  your skin, making it silky smooth to the touch. The unique properties of moon dust makes it an ideal exfoliant and skin conditioner. Visit our spa and find out for yourself.</p>
                    <a class="content-button" href="#">Learn More<span class="screen-reader-text"> about regolith rash.</span></a>
                </figcaption>
            </figure><!-- .feature -->
             <figure class="feature">
                <a href="#">
                    <%= image_tag 'spatialplanning.jpg' %>
                </a>
                <figcaption>
                    <h3 class="content-title"> Spatial Planning. </h3>
                    <p>Our Gravity Gym offers exercises you've never even dreamed of. From our Centrifugal Super-G Track to our Zero-G Yoga Studio, Moonwalk Manor has a new experience to offer everyone.</p>
                    <a class="content-button" href="#">Learn More<span class="screen-reader-text"> about freefall vertigo.</span></a>
                </figcaption>
            </figure><!-- .feature -->
            <figure class="feature">
                <a href="#">
                  <%= image_tag 'research.png' %>
                </a>
                <figcaption>
                    <h3 class="content-title"> Research. </h3>
                    <p>Regolith is what makes the moon grey. It is also what will rejuvinate  your skin, making it silky smooth to the touch. The unique properties of moon dust makes it an ideal exfoliant and skin conditioner. Visit our spa and find out for yourself.</p>
                    <a class="content-button" href="#">Learn More<span class="screen-reader-text"> about regolith rash.</span></a>
                </figcaption>
            </figure><!-- .feature -->

        </section><!-- .features centered -->

        <div class="cta">
            <a href="#">Start a Project!</a>
        </div><!-- .cta -->

        <h2 class="main-title"> Portfolio </h2>
        <section class="stories centered">
            <!-- slider -->
            <div class="story-slider flexslider">
                <ul class="slides">
                    <li>
                        <figure class="story-wrapper">
                            <%= image_tag 'bluepebble.jpg' %>
                        <figcaption class="story">
                                <h3 class="story-header">Earth Rise</h3>
                                <div class="author">Bob MacEnzie</div>
                                <p>You've heard stories about the first astronauts visiting the moon and looking back at the earth rising on the horizon. Then you see it for yourself and realize just how small and vulnerable we all are.</p>
                                <a href="#" class="content-button">Get the whole story</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="story-wrapper">
                            <%= image_tag 'earth.jpg' %>
                            <figcaption class="story">
                                <h3 class="story-header">Earth Seen from Heaven</h3>
                                <div class="author">Judy Blench</div>
                                <p>Rising up through the atmosphere, I saw the three-dimensionality of Earth for the first time. I was a flat-earther until that moment, but now I realize the turtles must be in a different dimension.</p>
                                <a href="#" class="content-button">Get the whole story</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="story-wrapper">
                            <%= image_tag 'footprint.jpg' %>
                            <figcaption class="story">
                                <h3 class="story-header">Footprints in the Regolith</h3>
                                <div class="author">Maiken Endersen</div>
                                <p>One small step for man. A million small footprints from giddy tourists. I wonder if anyone will look at a picture of mine in the future and dream of being the first woman on a new planet.</p>
                                <a href="#" class="content-button">Get the whole story</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="story-wrapper">
                            <%= image_tag 'zerog.jpg' %>
                            <figcaption class="story">
                                <h3 class="story-header">Falling through gravity</h3>
                                <div class="author">Maiken Endersen</div>
                                <p>I thought I knew yoga and how to control my body. Was I ever wrong. I have learned more about myself in two days in the Zero-G Yoga Studio than I had in 20 years of regular floor-based practice.</p>
                                <a href="#" class="content-button">Get the whole story</a>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div><!-- .story-slider -->
        </section><!-- .stories centered -->

    </main><!-- .main-area -->

 
